.news-card {
    position: relative;
    cursor: pointer;
    height: 100%;
}

.news-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-card__overlay {
    position: absolute;
    bottom: 0;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}

.news-card__overlay p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--on-primary);
    margin: 0;
}