.lang-switcher__lang {
    cursor: pointer;
    color: var(--on-background);
    text-decoration: none;
    text-transform: uppercase;
}

.lang-switcher__lang--active {
    -webkit-text-fill-color: var(--on-background);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--on-background);
}