body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #006C33;
  --surface: #F1F1F1;
  --background: #FFFFFF;
  --on-primary: #FFFFFF;
  --on-background: #000000;
  --error: #B00020;
}

[data-theme="dark"] {
  --primary: #4CAF50;
  --surface: #1d1d1d;
  --background: #121212;
  --on-primary: #FFFFFF;
  --on-background: #FFFFFF;
  --error: #CF6679;
  color: #FFFFFF;
}

label {
  font-size: 14px;
  color: var(--primary);
}

label.error {
  color: var(--error);
}

input,
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid;
  border-color: transparent;
  background-color: var(--surface);
  padding: 10.5px 14px;
  margin-top: 8px;
  height: 42px;
  outline: none;
  color: var(--on-background) !important;
}

option {
  background: var(--surface);
}

textarea {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid;
  border-color: transparent;
  background-color: var(--surface);
  padding: 10.5px 14px;
  margin-top: 8px;
  outline: none;
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--primary);
}

.input--error>label,
.input--error>small {
  color: var(--error);
}

.input--error input,
.input--error select,
.input--error textarea {
  border-color: var(--error);
}